$textAlign: "center";
$defaultMargin: 1rem;

#title{
	text-align: center;
	width: 100%;
}

button{
	margin: $defaultMargin;
}

.textInput{
	margin-top:2rem;
	margin-bottom: 2rem;
	font-size: larger;
}

.titleContainer {
	display: flex;
	justify-content: center;;
	flex-wrap: wrap;
}