.todoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.todoNote {
	margin: 0.5rem;
	grid-template-columns: 3rem 3.5rem 3.5rem 3rem;
	grid-template-rows: 6rem 4rem;
	display: grid;
	height: 10.5rem;
	width: 13.5rem;
	border: solid 0.2em blue;
	background-color: azure;
	border-radius: 1rem;
	grid-template-areas: 
    "checkbox text text text" 
    "editButton editButton deleteButton deleteButton";
}

.checkBox {
	grid-area: checkbox;
	padding: 1rem;
}

input:checked ~ .checkBox {
	background-color: rgb(83, 70, 229);
  }


.deleteButton {
	grid-area: deleteButton;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.editButton {
	grid-area: editButton;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.text{
	grid-area: text;
	font-size: larger;
}

.todoNoteComplete {
	color: white;
	background-color: rgb(77, 98, 255);
}

.todoNoteItem{
	margin-left: 0.5rem;
}

p{
	font-size: larger;
}

