$bgcolor: white;
$border: solid 0.1rem black;
$width: 8rem;
$height: 2.5rem;

.counterClass {
	display: flex;
	justify-content: space-evenly;
	background-color: $bgcolor;
	border: $border;
	width: $width;
	height: $height;
	margin: 0.5rem;
}

.buttonClass {
	background-color: blue;
	color: white;
}

.counterButton {
	width: 2rem;
}


.countersContainer {
	margin-left: 10%;
	margin-right: 10%;
	background-color: aqua;
}