.R2D2 {
	display: flex;
	justify-content: center;
}

.centeredText {
	text-align: center;
	color:white;
}

.box {
	background-color: blue;
	width: 30%;
	padding-top: 2%;
	padding-bottom: 3%;
	text-align: center;
}

.r2pic {
	width: 80%;
	height: auto;
}