#box1 {
	padding: 5%;;
	background-color: green;
}

#box2{
	padding: 5%;
	background-color: blue;
}

.flexbox{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap ;
	justify-content: space-evenly;
}
