#box1 {
	grid-area: header;
	outline: solid;
	outline-width: 2px;
}

#box2{
	grid-area: main1;
	outline: solid;
	outline-width: 2px;
}

#box3{
	grid-area: main2;
	outline: solid;
	outline-width: 2px;
}

.greenbg{
	background-color: green;
}
.bluebg{
	background-color: blue;
}
.redbg{
	background-color: red;
}
.yellowbg {
	background-color: yellow;
}

.flexbox{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 10fr 1fr 1fr;
	grid-template-areas: 
    "header header header header"
    "main1 main1 main2 main2"
}
