.thing {

	background-color: yellow;
}

#id {
	color: red;
}

img {
	padding: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: blue;
}

table {
	border-collapse: collapse;
}
table td, th {
	border: 1px solid black;
}
tr:nth-child(even) { /* Change bg color of even-indexed table rows */
    background-color: #d2d2d2;
}

li:nth-child(odd) {
	color:black;
}

.flexbox {
	display: grid;
	/* flex-wrap: wrap;
	flex-direction: row; */
	grid-template-columns: 1fr 1fr 3fr;
  	grid-auto-rows: 200px;


}

#box1 {
	background-color: blue;
	padding: 50px;
}
#box2 {
	background-color: red;
	padding: 50px;
}
#box3 {
	background-color: green;
	padding: 50px;
}
#box4 {
	background-color: yellow;
	padding: 50px;
}
#box5 {
	background-color: grey;
	padding: 50px;
}