p {
	font-family: "Times New Roman", Times, serif;
	background-color: blue;
}

#carid {
	font-family: "Times New Roman", Times, serif;
	background-color: red;
}

div {
	background-color: green;
	margin: 5%;
	padding: 5%;
	border: 10px;
	border-style: sold;
	border-color: black;
	border-radius: 5%;
}