.linkContainer {
	display: flex;
	justify-content: space-evenly;
}

.note {
	border: solid blue 0.2rem;
	max-width: 50%;
	text-align: center;
	margin: 0.4rem;
	color:blue;
	border-radius: 1rem;
}

.important {
	background-color: blue;
	color:white;
	border-color: darkblue;
}

.link {
	margin-left: 1rem;
}