.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap ;
	justify-content: space-evenly;
}
.flexbox2 {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap ;
	justify-content: space-evenly;
}

.box {
	background-color:lightgreen;
	border-style: solid;
	padding:5%;
	text-align: center;
}

.box2 {
	background-color: red;
	border-style: solid;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	flex-grow: 1;
}
#box22{
	flex-grow: 3;
}