.gridbox {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.gridbox2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: column;
}

.box {
	background-color: red;
	border-style: solid;
	padding:5%;
	text-align: center;
}

.box2 {
	background-color: lightgreen;
	border-style: solid;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	flex-grow: 1;
}

#boxa {
	grid-column: 1 / 4;
	grid-row: 1;
}

#boxb {
	grid-column: 1;
	grid-row: 2 /4;
}